/*----- Global Loader -----*/
#global-loader {
	position: fixed;
	z-index: 50000;
	background: rgb(255, 255, 255);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.form-select, .form-control {
	border: 1px solid #B2B2B2;
}


.note-editor.note-frame.panel.panel-default .panel-heading {
	border: 1px solid #B2B2B2;
}

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
	border: 1px solid #B2B2B2;
}





























